<%- include("./partials/head") %>

    <body>
	<!-- Header -->
	<% if (locals.user != undefined) { %>
		<%- include("./partials/headerLogueado") %> 
	<% } else { %>
		<%- include("./partials/headerNoLogueado") %>
	<% } %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar mi perfil</h2>
			</div>

			<form action="/users/edit/<%= usuario.id_usuario %>" method="POST">

					<label>EMAIL </label><input type="email" name="email" placeholder="EMAIL"  value="<%= usuario.email %>"  required> <br><br>
						<% if (locals.errors && errors.email) { %>
							<p class="feedback"><%= errors.email.msg %></p>
						<% } %>
	
					<label>NOMBRE DE USUARIO </label><input type="text" name="usuario" placeholder="USUARIO"  value="<%= usuario.usuario %>" ><br><br>
						<% if (locals.errors && errors.usuario) { %>
							<p class="feedback"><%= errors.usuario.msg %></p>
						<% } %>	
	
					<label> NUEVA CONTRASEÑA </label><input type="password" name="contrasena" placeholder="CONTRASEÑA" value="<%= usuario.contrasena %>"><br><br>
						<% if (locals.errors && errors.contrasena) { %>
							<p class="feedback"><%= errors.contrasena.msg %></p>
						<% } %>
						
					<label>FECHA DE NACIMIENTO </label><input type="date" name="fechaDeNacimiento" placeholder="FECHA NACIMIENTO" value="<%= usuario.fechaDeNacimiento %>"><br><br>
						<% if (locals.errors && errors.fechaDeNacimiento) { %>
							<p class="feedback"><%= errors.fechaDeNacimiento.msg %></p>
						<% } %>
						
					<label>NUMERO DE DOCUMENTO </label><input type="number" name="dni" placeholder="NRO DOCUMENTO" value="<%= usuario.dni %>"><br><br>
						<% if (locals.errors && errors.dni) { %>
							<p class="feedback"><%= errors.dni %></p>
						<% } %>
					
					<label>FOTO DE PERFIL </label><input type="file" name="fotoDePerfil" placeholder="FOTO DE PERFIL" value="<%= usuario.fotoDePerfil %>"><br><br>
						<% if (locals.errors && errors.fotoDePerfil) { %>
							<p class="feedback"><%= errors.fotoDePerfil %></p>
						<% } %>

				<button type="submit"> GUARDAR CAMBIOS </button><br><br>
			</form>

			<div class="img-container offset-3 col-2">
				<img src="<%= locals.user.fotoDePerfil %>" alt="foto de perfil" class="foto-perfil">
			</div>


	<!-- FOOTER -->
		<%- include("./partials/footer") %>
</body>

</html>