<%- include("./partials/head") %>

    <body>
	<!-- HEADER -->
	<% if (locals.user != undefined) { %>
		<%- include("./partials/headerLogueado") %>
	<% } else { %>
		<%- include("./partials/headerNoLogueado") %>
	<% } %>


	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<form action="/users/login" method="POST" novalidate>

				<label>EMAIL </label> <input type="email" name="email" placeholder="EMAIL" value="<%= locals.oldData && oldData.email ? oldData.email : null  %>"><br><br>
				<!-- preguntamos en INPUT VALUES si hay errores en locals -->
					<% if (locals.errors && errors.email) { %>
						<div><%= errors.email.msg %></div>
					<% } %>
					<!-- LOCALS: las variables locales que se pasan desde el controlador a la vista -->
				
				<!-- preguntamos en INPUT VALUES si existe olda data () en locals -->
				<label>CONTRASEÑA </label><input type="password" name="contrasena" placeholder="CONTRASEÑA" value="<%= locals.oldData && oldData.contrasena ? oldData.contrasena : null  %>"><br><br>
					<% if (locals.errors && errors.contrasena) { %>
						<div><%= errors.contrasena.msg %></div>
					<% } %>


				<label> RECUERDAME  </label><input type="checkbox" name="recordarme" placeholder="RECORDARME" value="ok"><br><br>
				<button type="submit"> LOG IN </button><br><br>
			
			</form>


	<!-- FOOTER -->
		<%- include("./partials/footer") %>
</body>

</html>