<%- include("./partials/head") %>

	<body>
		<!-- HEADER -->
		<%- include("./partials/headerNoLogueado") %>


			<!-- product detail -->
			<div class="container products-wrapper">
				<div class="d-flex align-items-center">
					<p class="product-detail-description editar" >
						<a href="/users/product-add">Editar</a>
					</p>
				</div>


				<div class="product-detail">

				

					<div class="row">
						<article class="col-12 col-lg-8 product-detail-info">
							<img src=<%=info.productos[0].imagen %> alt="" class="product-detail-img">



							<h2 class="products-title">
								<%= info.productos[0].producto%>
									</p>
							</h2>

							<p class="product-detail-description">
								<%= info.productos[0].descripcion%>
							</p>
						</article>

						<div class="col-12 col-lg-4">
							<section class="comments">

								<% for(let i=0; i < 3; i++) { %>
									<article class="pp">

										<img src="<%= info.productos[0].comentarios[i].fotoDePerfil%>" alt="">
										<div class="data">

											<p class="user">
												<strong> <a href="profile.ejs">
														<%= info.productos[0].comentarios[i].nombreUsuario %>
													</a> </strong>
												<%= info.productos[0].comentarios[i].textoComentario %>
											</p>
										</div>
									</article>
									<% } %>
							</section>
							
							<form class="form" action="/" method="POST">  <!-- NO FUNCIONA! -->
								<input class="form-input" type="text" value="" placeholder="Agregar comentario">
								<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
							</form>
					
							<hr>
						</div>

					</div>
				</div>
			</div>
			<!-- /product detail -->
			<!-- FOOTER -->
			<%- include("./partials/footer") %>

	</body>

	</html>