<%- include("./partials/head") %>

<body>
    <!-- Header -->
	<% if (locals.user != undefined) { %>
		<%- include("./partials/headerLogueado") %> 
	<% } else { %>
		<%- include("./partials/headerNoLogueado") %>
	<% } %>
	<!-- /Header -->

    <!-- product detail -->
    <div class="container products-wrapper">
        <div class="d-flex align-items-center">
            <% if (locals.user) { %>
                <p class="product-detail-description editar">
                    <a href="/product/product-edit/<%=  %>">Editar</a>
                </p>
            <% } %>
        </div>
        <br>

		<div class="product-detail">
            <div class="row">
                <article class="col-12 col-lg-8 product-detail-info">
                    <img src="<%= resultado.imagen %>" alt="" class="product-detail-img">

                    <h2 class="products-title">
                        <%= resultado.producto %>
                    </h2>

                    <p class="product-detail-description">
                        <%= resultado.descripcion %>
                    </p>
                    <p class="product-detail-description">Publicado por: 
                        <a href="/users/profile/<%= resultado.id_usuario %>">
                            <%= resultado.usuario.usuario %>
                        </a>
                    </p>
                </article>

                <div class="col-12 col-lg-4">
                    <section class="comments">
                        <% for(let i = 0; i < comentarios.length; i++) { %>
                            <article class="pp">
                                <img src="<%= comentarios[i].user?.fotoDePerfil %>" alt="">

                                <div class="data">
                                    <p class="user">
                                        <% if (comentarios[i].user) { %>
                                            <strong>
                                                <a href="/users/profile/<%= comentarios[i].id_usuario %>">
                                                    <%= comentarios[i].user.usuario %>
                                                </a>
                                            </strong>
                                        <% } %>
                                        
                                        <%= comentarios[i].texto_comentario %>
                                    </p>
                                </div>
                            </article>
                        <% } %>
                    </section>
                    <% if (locals.user) { %>
                        <form class="form" action="/product/comentario/<%= resultado.id_producto %>" method="post">
                            <input class="form-input" type="text" name="comentario" placeholder="Agregar comentario" value="<%= oldData ? oldData.comentario : '' %>">
                            <% if (errores && errores.comentario) { %>
                                <div class="error-msg"><%= errores.comentario.msg %></div>
                            <% } %>
                            <button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
                        </form>
                    <% } else { %>
                        <p>Debes estar logueado para comentar</p>
                    <% } %>
                    <br>
                    <% if (locals.user) { %>
                        <% if (locals.user.id_usuario === resultado.id_usuario) { %>
                            <section class="borrar">
                                <form class="form" action="/product/borrar/<%= resultado.id_producto %>" method="POST">
                                    <button type="submit" class="buy-now-button">BORRAR PRODUCTO</button>
                                </form>
                            </section>
                        <% } %>
                    <% } %>
                    
                    
                    

                    <hr>
                </div>
            </div>
        </div>
    </div>

    <!-- FOOTER -->
    <%- include("./partials/footer") %>

</body>

</html>
