<%- include("./partials/head") %>

    <body>
	<!-- Header -->
	<% if (locals.user != undefined) { %>
		<%- include("./partials/headerLogueado") %> 
	<% } else { %>
		<%- include("./partials/headerNoLogueado") %>
	<% } %>
	<!-- /Header -->
	 
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar producto</h2>
			</div>

			<form action="/product/product-edit/<%= producto.id_producto %>" method="POST">

                <label>IMAGEN  </label><input type="file" name="imagen" placeholder="FOTO DE PRODUCTO" value="<%= producto.imagen  %>"><br><br>
				<% if (locals.errors && errors.imagen) { %>
					<p class="feedback"><%= errors.imagen.msg %></p>
				<% } %>
				
				<label>NOMBRE DE PRODUCTO  </label><input type="text" name="producto" placeholder="NOMBRE PRODUCTO" value="<%= producto.producto  %>"><br><br>
				<% if (locals.errors && errors.producto) { %>
					<p class="feedback"><%= errors.producto.msg %></p>
				<% } %>
				
				<label>DESCRIPCION DEL PRODUCTO  </label><input type="text" name="descripcion" placeholder="DESCRIPCION"value="<%= producto.descripcion  %>"><br><br>
				<% if (locals.errors && errors.descripcion) { %>
					<p class="feedback"><%= errors.descripcion.msg %></p>
				<% } %>
				
				<button type="submit"> EDITAR PRODUCTO </button>
			
            </form>

			


	<!-- FOOTER -->
		<%- include("./partials/footer") %>
</body>

</html>