<!-- include HEAD -->
<%- include("./partials/head") %>

    <body>
	<!-- Header -->
	<% if (locals.user != undefined) { %>
		<%- include("./partials/headerLogueado") %> 
	<% } else { %>
		<%- include("./partials/headerNoLogueado") %>
	<% } %>
	<!-- /Header -->

	<!-- Datos del usuario -->
	<section class="info-usuario container products-wrapper">
		<div class="row">
			<div class="img-container offset-3 col-2">
				<img src="<%= datosUsuario.fotoDePerfil %>" alt="foto de perfil" class="foto-perfil">
			</div>
			<div class="data-container col-6">
				<div class="d-flex align-items-center ">
					<h1 class="main-title"><%- datosUsuario.usuario %>
						<a href="/users/edit">
							<i class="fas fa-cog"></i>
						</a>
					</h1>
					<a class="btn mt-3 ml-4" href="">SEGUIR</a>
				</div>
				<p class="mailUsuario"><%- datosUsuario.email %></p>
				<div>
					<ul class="">
						<li><%= relacionProductos.length %> productos</li>
						<li>200 seguidores</li>
						<li><%= relacionComentarios.length %> comentarios</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- /Datos del usuario -->

	<!-- Mis productos -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Mis productos</h2>
			</div>
			<!-- Show mis productos -->
			<% for(let i=0; i < relacionProductos.length; i++) { %>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/product/detalle/<%= relacionProductos[i].id_producto %>"> 
							<figure class="product-box_image">
								<img src="<%= relacionProductos[i].imagen %>" alt="<%= relacionProductos[i].producto %>">
							</figure>
							<article class="product-box_data">
								<h2>
									<%= relacionProductos[i].producto %>
								</h2>
								<p><%= relacionProductos[i].descripcion %></p>
								<p>Comentarios: 3 </p>
							</article>
						</a>
					</section>
				</div>
				<% } %>

		</div>
	</div>
	<!-- /Mis productos -->


	<!-- FOOTER -->
		<%- include("./partials/footer") %>
</body>	
</html>